
    <!-- Hero Section Start -->
    <section class="hero-section wow fadeInUp" data-wow-delay="510ms">
      <div class="container-fluid">
        <div class="row row-gap-4 align-items-center">
          <div class="col-md-6">
            <h1 class="fw-500 mb-16">Unlock the Secrets of the Stars</h1>
            <p class="mb-48">Discover how the universe shapes your life. Dive into your zodiac insights, celestial
              forecasts, and personalized astrological guidance for a balanced and meaningful existence.</p>
            
          </div>  
          <div class="col-md-6">
            <div class="w-100">
              <img class="w-100" src="/media/images/hero-img.png" alt="hero-img.png">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Hero Section End -->

    <!-- Hero Wrapper Start -->
    <div class="hero-wrapper py-80 mb-40 wow fadeInUp" data-wow-delay="520ms">
      <div class="container-fluid">
        <div class="row row-gap-4 align-items-center">
          <div class="col-md-4 col-sm-6">
            <div class="info-block">
              <div class="info-icon">
                <img src="/media/icons/hero-icon.png" alt="hero-icon-1.png">
              </div>
              <div>
                <h5 class="mb-12">Privacy</h5>
                <p>Unique and intriguing for those considering travel or relocation.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="info-block">
              <div class="info-icon">
                <img src="/media/icons/hero-icon2.png" alt="hero-icon-2.png">
              </div>
              <div>
                <h5 class="mb-12">Result Gurateed</h5>
                <p>For travelers chasing happiness and new beginnings.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="info-block">
              <div class="info-icon">
                <img src="/media/icons/hero-icon3.png" alt="hero-icon-3.png">
              </div>
              <div>
                <h5 class="mb-12">Competence</h5>
                <p>Representing a transformative journey around the world.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero Wrapper End -->

    <!-- About Section Start -->
    <section class="about-sec mb-120 wow fadeInUp" data-wow-delay="530ms">
      <div class="container-fluid">
        <div class="row row-gap-4 align-items-center">
          <div class="col-md-6">
            <div class="pr-24">
              <p class="color-sec">Ancient wisdom meets modern insights</p>
              <h3 class="mb-36">Discover the Art of Astrology</h3>
              <p class="mb-16">At Astro Aura, we believe that the universe holds answers to life’s most profound
                questions. Astrology is not just about predicting the future; it’s a tool for self-awareness, growth,
                and understanding the cosmic forces that shape our lives.</p>
              <p class="mb-16">At Astro Aura, we believe that the universe holds answers to life’s most profound
                questions. Astrology is not just about predicting the future.</p>
              <p class="mb-36">At Astro Aura, we believe that the universe holds answers to life’s most profound
                questions. Astrology is not just about predicting the future; it’s a tool for self-awareness, growth,
                and understanding the cosmic forces that shape our lives universe holds answers.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="w-100">
              <img class="w-100" src="/media/images/about-img.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Section End -->

    <!-- About Section Start -->
    <section class="about-block mb-120 wow fadeInUp" data-wow-delay="550ms">
      <div class="container-fluid">
        <div class="row row-gap-4 align-items-stretch">
          <div class="col-md-6">
            <div>
              <h3 class="fw-500 mb-24">Astrology is just a finger pointing</h3>
              <p class="mb-48">At Astro Aura, we believe that the universe holds answers to life’s most profound
                questions. Astrology is not just about predicting the future; it’s a tool for self-awareness, growth,
                and understanding the cosmic forces that shape our lives.</p>
              <div class="about-info-block mb-48">
                <div class="flex-shrink-0">
                  <img src="/media/vector/cunsulation.png" alt="">
                </div>
                <div>
                  <h5 class="fw-400 mb-4p">General Consultation</h5>
                  <p>To create a world where the wisdom of astrology empowers individuals to unlock their true
                    potential, navigate life’s challenges, and connect deeply with the cosmic rhythm.</p>
                </div>
              </div>
              <div class="about-info-block mb-48">
                <div class="flex-shrink-0">
                  <img src="/media/vector/personal-advice.png" alt="">
                </div>
                <div>
                  <h5 class="fw-400 mb-4p">Personal Life Advice</h5>
                  <p>To provide personalized, accurate, and accessible astrological insights that combine ancient
                    knowledge with guiding users toward self-discovery and clarity.</p>
                </div>
              </div>
              <div class="about-info-block">
                <div class="flex-shrink-0">
                  <img src="/media/vector/career.png" alt="">
                </div>
                <div>
                  <h5 class="fw-400 mb-4p">Work, Career & Finance</h5>
                  <p>We are committed to authenticity, delivering astrology with integrity and depth; empowerment,
                    helping individuals align with their stars.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-block-img">
              <img class="w-100 h-100" src="/media/images/about-img-2.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Section End -->

    <!-- Daily Horoscope Section Start -->
    <!-- <section class="horoscope-sec mb-120 wow fadeInUp" data-wow-delay="560ms">
      <div class="container-fluid">
        <div class="heading mb-36">
          <div>
            <p class="color-sec">See what new about your day!</p>
            <h3>Daily Horoscope</h3>
          </div>
          <div> <a href="/horoscope" class="cus-btn">
              <span class="text">View All</span>
            </a></div>
        </div>
        <div class="horoscope-slider">
          <div>
            <a href="/horoscope-detail" class="horoscope-block">
              <img src="/media/horoscope/vector-1.png" alt="">
              <span class="h5 fw-700">ARIES </span>
              <span class="subtitle lightest-gray">March 21 - April 19</span>
              <span class="text-18 hover-content text-decoration-underline">Read More</span>
            </a>
          </div>
          <div>
            <a href="/horoscope-detail" class="horoscope-block">
              <img src="/media/horoscope/vector-2.png" alt="">
              <span class="h5 fw-700">TAURUS</span>
              <span class="subtitle lightest-gray">April 20 - May 20</span>
              <span class="text-18 hover-content text-decoration-underline">Read More</span>
            </a>
          </div>
          <div>
            <a href="/horoscope-detail" class="horoscope-block">
              <img src="/media/horoscope/vector-3.png" alt="">
              <span class="h5 fw-700">GEMINI</span>
              <span class="subtitle lightest-gray">May 21 - June 20</span>
              <span class="text-18 hover-content text-decoration-underline">Read More</span>
            </a>
          </div>
          <div>
            <a href="/horoscope-detail" class="horoscope-block">
              <img src="/media/horoscope/vector-4.png" alt="">
              <span class="h5 fw-700">CANCER</span>
              <span class="subtitle lightest-gray">June 22 - July 22</span>
              <span class="text-18 hover-content text-decoration-underline">Read More</span>
            </a>
          </div>
          <div>
            <a href="/horoscope-detail" class="horoscope-block">
              <img src="/media/horoscope/vector-4.png" alt="">
              <span class="h5 fw-700">CANCER</span>
              <span class="subtitle lightest-gray">June 22 - July 22</span>
              <span class="text-18 hover-content text-decoration-underline">Read More</span>
            </a>
          </div>
        </div>
      </div>
    </section> -->
    <!-- Daily Horoscope Section End -->

    <!-- Testimonial Section Start -->
    <section class="testimonial-sec mb-180  wow fadeInUp" data-wow-delay="580ms">
      <div class="container-fluid">
        <div class="mb-36">
          <p class="mb-4p color-sec">We got People’s Trust</p>
          <h3 class="fw-500">Testimonials</h3>
        </div>
        <div class="row row-gap-4 align-items-center">
          <div class="col-md-6">
            <div class="testimonial-slider row">
              <div class="testemonial-block col-12">
                <div>
                  <img src="/media/vector/quote.png" alt="">
                </div>
                <h5 class="fw-300">The natal chart reading I received was absolutely eye-opening! It felt like the
                  astrologer knew me better than I knew myself. The insights helped me understand my strengths and
                  weaknesses, and I now feel more confident about my decisions.</h5>
                <div class="d-flex align-items-center gap-12">
                  <img class="testemonial-user" src="/media/user/testemonial-user.png" alt="testemonial-user">
                  <div>
                    <p class="fw-700 mb-4p">Alex Jonathan</p>
                    <p class="subtitle light-gray">CEO Unboxing.co</p>
                  </div>
                </div>
              </div>
              <div class="testemonial-block col-12">
                <div>
                  <img src="/media/vector/quote.png" alt="">
                </div>
                <h5 class="fw-300">The natal chart reading I received was incredibly enlightening! It seemed as though
                  the astrologer understood me more deeply than I understood The revelations highlighted my
                  strengths and weaknesses, leaving me more assured about my choices.</h5>
                <div class="d-flex align-items-center gap-12">
                  <img class="testemonial-user" src="/media/user/testemonial-user-2.png" alt="testemonial-user">
                  <div>
                    <p class="fw-700 mb-4p">Sophia Rose</p>
                    <p class="subtitle light-gray">CEO Unboxing.co</p>
                  </div>
                </div>
              </div>
              <div class="testemonial-block col-12">
                <div>
                  <img src="/media/vector/quote.png" alt="">
                </div>
                <h5 class="fw-300">The natal chart reading I got was truly insightful! It felt like the astrologer knew
                  me even better than I knew myself. The guidance helped me recognize my strengths and weaknesses, and
                  now I feel more confident in my decisions.</h5>
                <div class="d-flex align-items-center gap-12">
                  <img class="testemonial-user" src="/media/user/testemonial-user.png" alt="testemonial-user">
                  <div>
                    <p class="fw-700 mb-4p">Alex Jonathan</p>
                    <p class="subtitle light-gray">CEO Unboxing.co</p>
                  </div>
                </div>
              </div>
              <div class="testemonial-block col-12">
                <div>
                  <img src="/media/vector/quote.png" alt="">
                </div>
                <h5 class="fw-300">The natal chart reading I received was incredibly enlightening! It seemed as though
                  the astrologer understood me more deeply than I understood myself. The revelations highlighted my
                  strengths and weaknesses, leaving me more assured about my choices.</h5>
                <div class="d-flex align-items-center gap-12">
                  <img class="testemonial-user" src="/media/user/testemonial-user-2.png" alt="testemonial-user">
                  <div>
                    <p class="fw-700 mb-4p">Sophia Rose</p>
                    <p class="subtitle light-gray">CEO Unboxing.co</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="testemial-img w-100">
              <img class="w-100" src="/media/images/testimonial-img.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- faqs section Start -->
    <section class="faq-sec mb-120 wow fadeInUp" data-wow-delay="590ms">
      <div class="container-fluid">
        <div class="mb-36">
          <p class="color-sec mb-4p">What’s on your mind!</p>
          <h3 class="fw-500">Frequently Asked Questions</h3>
        </div>
        <div class="faq-sec">
          <div class="">
            <div id="accordionBuildingConstructionLeft">
              <div class="faq">
                <div class="faq-block mb-12">
                  <a href="#" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#bc-faq1-left"
                    aria-expanded="true" aria-controls="bc-faq1-left">
                    Volutpat feugiat adipiscing placerat amet odio?
                  </a>
                  <div id="bc-faq1-left" class="accordion-collapse collapse show" aria-labelledby="bc-faq1-left"
                    data-bs-parent="#accordionBuildingConstructionLeft">
                    <p>Arcu maecenas magnis blandit viverra sed nisi nec elit. Mauris in id nibh diam ut feugiat nisi
                      faucibus mauris. Auctor et aenean sed commodo quam odio vivamus ut tortor. Orci in lectus lobortis
                      nisi nulla. Cras at nunc semper neque. Hendrerit lectus mauris velit pulvinar id. Ipsum viverra
                      morbi viverra pellentesque sed. Enim pellentesque magna viverra magna interdum faucibus.
                      Pellentesque sagittis tellus velit sed commodo enim vestibulum porta eget.</p>
                  </div>
                </div>
                <div class="faq-block mb-12">
                  <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#bc-faq2-left" aria-expanded="false" aria-controls="bc-faq2-left">
                    Sapien vestibulum odio nec at euismod?
                  </a>
                  <div id="bc-faq2-left" class="accordion-collapse collapse" aria-labelledby="bc-faq2-left"
                    data-bs-parent="#accordionBuildingConstructionLeft">
                    <p>Arcu maecenas magnis blandit viverra sed nisi nec elit. Mauris in id nibh diam ut feugiat nisi
                      faucibus mauris. Auctor et aenean sed commodo quam odio vivamus ut tortor. Orci in lectus lobortis
                      nisi nulla. Cras at nunc semper neque. Hendrerit lectus mauris velit pulvinar id. Ipsum viverra
                      morbi viverra pellentesque sed. Enim pellentesque magna viverra magna interdum faucibus.
                      Pellentesque sagittis tellus velit sed commodo enim vestibulum porta eget.</p>
                  </div>
                </div>
                <div class="faq-block mb-12">
                  <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#bc-faq3-left" aria-expanded="false" aria-controls="bc-faq3-left">
                    Tortor tristique pulvinar orci platea?
                  </a>
                  <div id="bc-faq3-left" class="accordion-collapse collapse" aria-labelledby="bc-faq3-left"
                    data-bs-parent="#accordionBuildingConstructionLeft">
                    <p>Arcu maecenas magnis blandit viverra sed nisi nec elit. Mauris in id nibh diam ut feugiat nisi
                      faucibus mauris. Auctor et aenean sed commodo quam odio vivamus ut tortor. Orci in lectus lobortis
                      nisi nulla. Cras at nunc semper neque. Hendrerit lectus mauris velit pulvinar id. Ipsum viverra
                      morbi viverra pellentesque sed. Enim pellentesque magna viverra magna interdum faucibus.
                      Pellentesque sagittis tellus velit sed commodo enim vestibulum porta eget.</p>
                  </div>
                </div>
                <div class="faq-block mb-12">
                  <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#bc-faq7-left" aria-expanded="false" aria-controls="bc-faq7-left">
                    Vitae donec leo nibh a quisque?
                  </a>
                  <div id="bc-faq7-left" class="accordion-collapse collapse" aria-labelledby="bc-faq7-left"
                    data-bs-parent="#accordionBuildingConstructionLeft">
                    <p>Arcu maecenas magnis blandit viverra sed nisi nec elit. Mauris in id nibh diam ut feugiat nisi
                      faucibus mauris. Auctor et aenean sed commodo quam odio vivamus ut tortor. Orci in lectus lobortis
                      nisi nulla. Cras at nunc semper neque. Hendrerit lectus mauris velit pulvinar id. Ipsum viverra
                      morbi viverra pellentesque sed. Enim pellentesque magna viverra magna interdum faucibus.
                      Pellentesque sagittis tellus velit sed commodo enim vestibulum porta eget.</p>
                  </div>
                </div>
                <div class="faq-block">
                  <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#bc-faq5-left" aria-expanded="false" aria-controls="bc-faq5-left">
                    Sapien vestibulum odio nec at euismod?
                  </a>
                  <div id="bc-faq5-left" class="accordion-collapse collapse" aria-labelledby="bc-faq5-left"
                    data-bs-parent="#accordionBuildingConstructionLeft">
                    <p>Arcu maecenas magnis blandit viverra sed nisi nec elit. Mauris in id nibh diam ut feugiat nisi
                      faucibus mauris. Auctor et aenean sed commodo quam odio vivamus ut tortor. Orci in lectus lobortis
                      nisi nulla. Cras at nunc semper neque. Hendrerit lectus mauris velit pulvinar id. Ipsum viverra
                      morbi viverra pellentesque sed. Enim pellentesque magna viverra magna interdum faucibus.
                      Pellentesque sagittis tellus velit sed commodo enim vestibulum porta eget.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- faqs section End -->